/*
    Alumno: Marta Broncano Suárez
    Asignatura: Proyecto San Romilla
    Curso: 20-21
    Descripción: Estilos del menú de gestión de inscripción
 */
input,
select,
button,
textarea,
a {
    border-radius: 0;
    -webkit-appearance: none;
}

/*https://codepen.io/isidromar95/pen/abzXvxP*/